<div class="container">
  <h1 class=" center white text-center mt-3">All art pieces</h1>


<p class="bg-white pl-2 py-2"> You found <%= @available_pieces.count %>results</p>
    <ul class="cards">
      <% @available_pieces.each do |piece| %>
        <li>
          <div class="card-category card">
            <img src="https://picsum.photos/id/237/200/300" alt="" class="img_card">
            <div class="container text-center pb-4">
              <h4><%= link_to piece.title, piece_path(piece) %></h4>
              <h5><%= piece.artist %></h5>
              <p><strong><%= piece.price %> €</strong></p>
              <%= link_to "Buy", piece_transacts_path(piece), method: :post, data: { confirm: "Are you sure?" }, class: "btn btn-dark w-100 mr-3 my-2 my-sm-0" %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
</div>

