<h1 class=" center white text-center mt-3">All art pieces</h1>

<div class="d-flex">
  <div class="col-2 sign_in_card dropdown">
    <h3>Filters</h3>
    <div class="border my-3"></div>
    <button class="width100 btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% @categories.each do |category| %>
        <a class="dropdown-item" href="#"><%= category.name %></a>
      <% end %>
    </div>
  </div>

  <ul class="col-10 cards">
    <% @pieces.each do |piece| %>
      <% if piece.user != current_user %>
        <li>
          <div class="card-category card">
            <img src="https://picsum.photos/id/237/200/300" alt="" class="img_card">
            <div class="container text-center pb-4">
              <h4><%= link_to piece.title, piece_path(piece) %></h4>
              <h5><%= piece.artist %></h5>
              <p><strong><%= piece.price %> €</strong></p>
              <%= link_to "Buy", new_piece_path, class: "btn btn-dark w-100 mr-3 my-2 my-sm-0" %>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
