<div>
  <h1 class="text-center mt-3">Sell your art piece</h1>
</div>
<div class="container col-6 h">
  <%= simple_form_for (@piece) do |f| %>
    <div class="row">
      <div class="col-6">
        <%= f.input :title, class: "w-100" %>
      </div>
      <div class="col-6">
        <%= f.input :artist, class: "w-100" %>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <%= f.association :category, class: "w-100" %>
      </div>
      <div class="col-6">
        <%= f.input :year, class: "w-100" %>
      </div>
    </div>
    <%= f.input :description %>
    <div class="row">
      <div class="col-6">
        <%= f.input :price, class: "w-100" %>
      </div>
      <div class="col-6">
        <%= f.input :address, class: "w-100" %>
      </div>
    </div>
    <div class="mb-2">
      <%= f.button :submit, class: "btn btn-success w-100" %>
    </div>
    <div>
      <%= link_to "Back to pieces", user_index_path, class: "btn btn-dark w-100"%>
    </div>
  <% end %>
</div>
