<div class="flex-column">
  <h1 class="white text-center mt-3"><%= @piece.title %></h1>
</div>

<div class="container d-flex">
  <div class="col-6">
    <h4><%= @piece.artist %></h4>
    <h5><%= @piece.year %></h5>
    <p><%= @piece.description %></p>
    <p><strong><%= @piece.price %> €</strong></p>
  </div>
  <div class="col-6">
    <h4>image</h4>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= link_to "Back to art pieces", pieces_path, class: "btn btn-dark"%>
  <% if policy(@piece).destroy? %>
    <%= link_to "Delete offer", piece_path(@piece), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  <% end %>
</div>
