<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky_top">
  <%= link_to "Ali Baba's Cave", "/pieces", class: "nav-link" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="form-inline">
          <%= form_tag pieces_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control mr-sm-2",
          placeholder: "Find an art piece" %>
          <%= submit_tag "Search", class: "btn btn-outline-success mr-3 my-2 my-sm-0" %>
        <% end %>
      </div>
      </li>
      <li class="nav-item">
        <%= link_to "Sell", new_piece_path, class: "btn btn-outline-success mr-3 my-2 my-sm-0" %>
      </li>
      <li class="nav-item">
        <%= link_to "Dashboard", user_index_path, class: "btn btn-outline-dark" %>
      </li>
      <li class="nav-item ml-3">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-dark" %>
      </li>
    </ul>
  </div>
</div>


